body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  background: linear-gradient(#f5fffc, #ecffd1);
  
}

.section {
  display: none;
  text-align: center;
  padding: 30px;
}

#section1 {
  display: block;
}

button {
  font-size: 18px;
  padding: 12px 20px;
  cursor: pointer;
  background-color: #756868;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9ab86e;
}

ul {
  list-style-position: inside;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

p {
  text-align: justify;
  line-height: 1;
  font-size: 25px;
}

h1 {
  text-align: center;
  color: #333;
}

a {
  color: #9ab86e;
}